{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4 text-center">{{ myfields.field_name }}</legend>
        <p class="border-bottom mb-2">Is superfield: {{ myfields.is_superfield }}</p>
        <p class="border-bottom mb-2">Date now: {{ myfields.date_now }}</p>
        <p class="border-bottom mb-2">Datetime: {{ myfields.datetime }}</p>
        <p class="border-bottom mb-2">Field price: {{ myfields.field_price }}</p>
        <p class="border-bottom mb-2">Email: {{ myfields.email }}</p>
        <p class="border-bottom mb-2">Year: {{ myfields.field_year }}</p>
        <p class="border-bottom mb-2">Description: {{ myfields.field_description }}</p>
        <p class="border-bottom mb-2">Field time: {{ myfields.field_time }}</p>
        <form method="post">{% csrf_token %}
                <button class="btn btn-outline-info" type="submit">Delete {{ myfields.field_name }}</button>
        </form>
    </div>
{% endblock %}
