{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Product Page</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success btn-inline" type="submit">Confirm</button>
                <a href="{% url 'shop:products' %}" class="btn btn-danger btn-inline" role="button">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
