{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="/static/shop/product_list.css" type="text/css">
<div class="container pr_list">
<h1>Products list:</h1>
<table>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Add Date</th>
        <th>Date of expire</th>
    </tr>
    {% for product in object_list %}
        <tr>
        <td><img src="{{ product.product_photo.url }}" alt="" width=100em></td>
        <td><a href="{% url 'shop:product' product.id %}">{{ product.product_name }}</a></td>
        <td>{{ product.add_date }}</td>
        <td>{{ product.date_of_expire }}</td>
        </tr>
    {% endfor %}
</table>
    <form action="{% url 'shop:add_product' %}">
        <input type="submit" value="Add product">
    </form>
</div>
{% endblock %}