{% extends 'base.html' %}
{% block content %}
    <div class="content-section">
        <h1 class="border border-dark mb-4 text-center text-white bg-steel rounded">Products list</h1>
        <div class="row">
            {% for product in object_list %}
                <div class="col-sm-12 col-md-3  border mb-4 text-center">
                    <img class="w-100" src="{{ product.product_photo.url }}" alt="">
                    <h3>
                        {{ product.product_name }}
                    </h3>
                        <a class="btn btn-md btn-block badge-info mb-2" role="button" href="{% url 'shop:product' product.id %}">About</a>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'shop:add_product' %}" class="btn btn-lg btn-block btn-success" role="button" type="submit">Add Product</a>
    </div>
{% endblock %}