{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-section">
        {#here question (objects)#}
        <dl>
            <dt><img src="{{ product.product_photo.url }}" alt="" width="100em">{{ product.product_name }}</dt>
            <dd>
                <p>Add date: {{ product.add_date }}</p>
                <p>Date of expire: {{ product.date_of_expire }}</p>
                <p>Expired: {{ product.expired }}</p>
                <p>Description: {{ product.description }}</p>
                {% if object.user.is_superuser %}
                    <p>Who added: {{ product.user }}</p>
                {% endif %}
                <form method="post" action="{% url 'shop:product' product.id %}">
                    {% csrf_token %}
                    {% if user.has_permission %}
                        <button class="btn btn-outline-info" type="submit">Delete {{ product.product_name }}</button>
                    {% endif %}
                </form>
            </dd>
        </dl>


    </div>

{% endblock %}