{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-2 text-center border-right">
                <h2>
                    {{ product.product_name }}
                </h2>
                <img src="{{ product.product_photo.url }}" alt="" class="w-75">
            </div>
            <div class="col-4 border-right">
                <h4>Add date: {{ product.add_date }}</h4>
                <h4>
                    {% if product.expired %}
                    Product is expired.
                    {% else %}
                    Product is fresh.
                    {% endif %}
                </h4>
                {% if user.is_superuser %}
                    <blockquote class="blockquote-footer">added {{ product.user }}</blockquote>
                    <form method="post" action="{% url 'shop:product' product.id %}">{% csrf_token %}
                    {% if user.has_permission %}
                        <button class="btn btn-danger btn-sm float-right" type="submit">Delete {{ product.product_name }}</button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
            <div class="col-6">
                <h3>Description:</h3>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}