{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <h1 class="border border-dark mb-4 text-center text-white bg-steel rounded">Sportsmen</h1>
        <div class="row">
            {% for sportsman in sportsman_list %}
                <div class="col-sm-12 col-md-3  border mb-4 text-center">
                    <img class="w-50" width="100px" height="150px" src="{{ sportsman.photo.url }}" alt="">
                    <h3>
                        {{ sportsman.name }}
                    </h3>
                        <a class="btn btn-md btn-block badge-info mb-2" role="button" href="{% url 'sport:sp_profile' sportsman.id %}">Profile</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}